GtkHeaderBar.headerbar-left {
    border-top-right-radius: 0px;
}

GtkHeaderBar.headerbar-right {
    border-top-left-radius: 0px;
}

/* Fix adwaita hiding GtkPaned separator in GtkHeaderBar when window focused */
.headerbar-paned .pane-separator {
	border-radius: 0;
	border-width: 0 1px 1px 0;
}

GtkLabel.info-message {
    color: @theme_selected_bg_color;
}

.image-desc {
    background-color: #21252B;
    padding: 5px 5px 5px 5px;
    color: white;
}

.btn-save-image {
  background-image: none;
  background-color: #21252B;
  border: none;
  border-radius: 0;
}

.btn-save-image:hover, .btn-save-image:insensitive {
  background-image: none;
  background-color: #292D35;
  border: none;
  border-radius: 0;
  color: white;
}

/**
* CANCELED FILE
**/

.canceled-file {
  background-color: #c0392b;
  color: white;
}

.canceled-file .label_file_name {
  color: white;
}

.canceled-file .btn-save-image,
.canceled-file .btn-save-image :insensitive {
  background-color: #e74c3c;
}

/**
* SAVED FILE
**/

.saved-file {
  background-color: #27ae60;
  color: white;
}

.saved-file .label_file_name {
  color: white;
}

.saved-file .btn-save-image,
.saved-file .btn-save-image:insensitive {
  background-color: #2ecc71;
}

.entry-height-button {
  padding: 6px;
}
